@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617] text-slate-300 antialiased;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@layer components {
  .glass {
    @apply bg-slate-900/40 border border-slate-800/50 backdrop-blur-xl;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full hover:bg-slate-600;
  }
}